  <!-- Division selection -->
  <div *ngIf="!selectedDivision" class="w-full h-full flex gap-1 items-center bg-black">
    <div 
      (click)="selectDivision(division.id)"
      *ngFor="let division of divisions" 
      class="group transition-all gap-6 h-full text-5xl flex flex-col items-center bg-green-950 hover:bg-green-800 text-white hover:tracking-wider font-thin justify-center cursor-pointer flex-1 rounded-lg"
    > 
      <img [src]="contentMap[division.id]?.logo ?? 'assets/logo/vsu.png'" 
        class="transition-all w-52 h-52 group-hover:scale-105" 
        alt=""
      />
      <span>{{ division.name }}</span>
    </div>
  </div>